<h1>Location de chambres d'hotels</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Service de location de chambre d'hotel pour particulier</strong>!</h1>
    <p>Faites vos réservations en toutes tranquilités sur notre site.</p>
    <%= link_to "Voir nos chambres", rooms_path, class: "btn btn-primary" %>
  </div>
</div>
